.row {
  display: flex;
}

form {
  height: 100px;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  input {
    width: 50%;
  }
  input[type='submit'] {
    width: 25%;
  }
}

#user-choices {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0;

  button {
    width: 20%;
  }
}

.user-choice {
  width: 100%;
  height: 350px;
  background-color: lighten(gray, 40%);
  margin: 20px auto;
  border: 2px solid black;

  position: relative;
  justify-content: space-between;

  .choice {
    width: 15%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    justify-content: space-around;
    align-items: center;
    p {
      width: 50%;
    }
  }

  .render {
    width: 70%;
    border-left: 10px solid black;
    padding: 5px;
    overflow: scroll;
  }

  #method {
    width: 30%;
    justify-content: space-around;
    margin-top: 50px;
  }
}

.choiceBtn {
  background-color: blue;
  color: #fff;
}

#CRUD {
  text-align: center;
  width: 100%;

  textarea {
    width: 50%;
    padding: 10px;
  }
}
