header {
  width: 100%;
  background-color: lighten(#000000, 20%);
  top: 0;
  height: 100px;
  color: #fff;
  margin: 0 auto;
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    position: absolute;
    top: 50px;
    ul {
      display: flex;
      flex-direction: row;
      width: 25%;
      justify-content: space-around;
    }

    li {
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
