* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'header';
@import 'footer';
@import 'form';

li {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  border-bottom: 1px black solid;
}

li:hover {
  cursor: pointer;
}
